.control {
    margin: 10px;
    padding: 10px;
    display: flex;
}

.select-twice {
    display: flex;
    flex-direction: column;
}

.select {
    padding: 5px;
    background-color: #1b1717;
    color: #eeebdd;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.select-type {
    width: 105px;
    border-top: solid 5px #ce1212;
    border-left: solid 5px #ce1212;
    border-top-left-radius: 15px ;
}

.select-number {
    width: 90px;
    border-bottom: solid 5px #ce1212;
    border-left: solid 5px #ce1212;
}

.input-search {
    width: 110px;
    background-color: #1b1717;
    color: #eeebdd;
    border: solid 5px #ce1212;
    border-top-left-radius: 15px;
    font-size: 16px;
}

.btn {
    background-color: #ce1212;
    color:#eeebdd;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border: solid 5px #ce1212;
}

.btn:hover {
    background-color: #eeebdd;
    color: #ce1212;
}

.button-clear {
    background-color: #ce1212;
    color:#eeebdd;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border: solid 5px #ce1212;
    border-bottom-right-radius: 15px;
}
