/* ABILITIES */
.ability-box {
    display: flex;
    justify-content: space-evenly;
}

.ability-item {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.ability-name {
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    color: #f8f5f1;
}

.ability-description {
    margin: 0;
    font-size: 15px;
    color: #f8f5f1;
}

/* MOVES */
.moves-box {
    display: flex;
    flex-wrap: wrap;
}

.move-item {
    margin: 5px;
    padding: 7px;
    width: max-content;
    color: #d8e3e7;
    border-radius: 20px;
    font-size: 18px;
}

/* LOCATION */

.location-box {
    display: flex;
    flex-wrap: wrap;
}

.location-item {
    margin: 5px;
    padding: 5px 10px;
    color: #040505;
    font-size: 16px;
    border-radius: 10px ;
}