.poke-card {
    margin: 20px;
    padding-bottom: 30px;
}

.banner {
    height: 55px;
    width: 285px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.picture {
    height: 120px;
    width: 120px;
}

.info {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.name {
    margin: 3px 0;
}

.type {
    margin: 0;
}