.arr-poke-card {
    margin: 20px;
    padding: 5px 18px;
    display: flex;
    border-radius: 25px;
}

.arr-picture {
    height: 150px;
    width: 150px;
}

.arr-info {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.arr-name {
    margin: 3px 0;
    font-size: 30px;
}

.arr-type {
    margin: 0;
    font-size: 18px;
}

.panel-arr-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.arr-shiny {
    width: 90px;
    padding: 5px;
    font-size: 18px;
    background-color: #0c4271;
    color: #f6e5e9;
    border: solid #000000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.arr-shiny:hover {
    background-color: #000000;
    color: #0c4271;
}

.arr-position {
    width: 90px;
    padding: 5px;
    font-size: 18px;
    background-color: #0c4271;
    color: #f6e5e9;
    border: solid #000000;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.arr-position:hover {
    background-color: #000000;
    color: #0c4271;
}