.unique-pokemon {
    margin: 20px;
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
}

.banner {
    height: 75px;
    padding: 0 25px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.sprite {
    margin-right: 25px;
    height: 300px;
    width: 300px;
}

.info {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.unique-name {
    margin: 0;
    font-size: 30px;
}

.unique-types {
    display: flex;
}

.unique-type {
    width: min-content;
    background-color: #dddddd;
    color: #222831;
    padding: 2px 7px;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stats-title {
    margin: 0;
    margin-top: 8px;
    color: black;
    text-align: center;
}

.stat-label {
    color: #0c4271;
    font-size: 18px;
    font-weight: bold;
}

.meter-stat {
    width: 200px;
    height: 20px;
}

.stat-value {
    color: #0c4271;
    font-size: 18px;
}