.poke-card {
    margin: 20px;
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
}

.banner {
    height: 75px;
    padding: 0 25px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.name {
    margin: 0;
    font-size: 30px;
}

.sprite {
    margin-right: 25px;
    height: 300px;
    width: 300px;
}

.info {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.stats {
    color: #000
}

/* helpers */
.no-margin {
    margin: 0;
}