.pokedex-container {
    display: flex;
    justify-content: center;
}

.pokedex-banner {
    background-color: #cf0000;
    height: 70px;
    border-bottom: solid 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-logo {
    width: 175px;
    height: 100px;
}

.unique-poke {
    width: 100vh;
    display: flex;
    justify-content: center;
}

.grid-pokes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}